@import "libs/normalize";
@import "main-page";
@import "variables";

body{
  font-size: 28px;
  background-color: $darkBlue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

